.catalog-container {
    margin-left: 16%;
    margin-bottom: 5%;
}

.catalog-section-title {
    font-family: "Amatic SC";
    font-size: 88px;
    font-weight: 700;
    line-height: 100px;
}

.catalog-items-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px 20px;
}

.catalog-items-list a {
    text-decoration: none;
    color: #3D3D3D;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.catalog-img-item-container {
    width: 310px;
    height: 300px;
    background-color: #F1F5F8;
    border-radius: 2px;
}

.catalog-img-item-container:hover {
    box-shadow: 0px 25px 45px -16px rgba(25, 62, 107, 0.25);
    background-color: white;
}

.catalog-item-img {
    padding-top: 60px;
    padding-left: 61px;
    width: 188px;
    height: 179px;
}

.catalog-item-title {
    margin-top: 15px;
    font-family: "Gill Sans Nova";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.products-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F1F5F8;
}

.products-container {
    margin-left: 16%;
    margin-right: 13%;
}

.products-section-title {
    font-family: "Amatic SC";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.products-section-list-container {
    margin-top: 40px;
}

.products-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products-section-item {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 290px;
    background-color: #FFFFFF;
}

.products-section-item:hover {
    box-shadow: 0px 25px 45px -16px rgba(25, 62, 107, 0.25);
}

.products-item-img {
    width: 250px;
    height: 250px;
}

.products-item-name {
    font-family: "Gill Sans Nova";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.products-select {
    margin-top: 20px;
    padding-left: 15px;
    width: 270px;
    height: 50px;
    font-family: "Gill Sans Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #8B8B8B;
    border-radius: 3px;
    color: #8B8B8B;
}

.products-btns-group {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.products-btn-price {
    margin-right: 10px;
    padding: 15px 29px;
    background-color: #F3CD47;
    border: none;
    border-radius: 3px;
    font-family: "Gill Sans Nova";
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    color: #3D3D3D;
}

.products-btn-price:hover {
    background-color: #F9E6A3;
}

.products-btn-price:focus {
    background-color: #F1C322;
}

.products-btn-bag {
    width: 100px;
    height: 66px;
    background-image: url(../img/shopping-bag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #193E6B;
    border: none;
    border-radius: 3px;

}

.products-btn {
    display: block;
    margin: 40px auto 0px auto;
    padding: 22px 35px;
    font-family: "Gill Sans Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    background-color: #F1F5F8;
    border: 1px solid #F3CD47;
    border-radius: 2px;
}

.products-btn:hover {
    background-color: #F9E6A3;
    border-color: #F9E6A3;
}

.products-btn:focus {
    background-color: #F1C322;
}

.products-btn:disabled {
    color: #8B8B8B;
    border-color: #8B8B8B;
}

/* Adaptive */
@media screen and (max-width: 768px) {
    .catalog-container {
        margin-left: 20px;
    }

    .catalog-section-title {
        margin-top: 40px;
        
    }

    .catalog-img-item-container {
        width: 354px;
    }

    .products-section {
        padding-bottom: 80px;
    }

    .products-container {
        margin-left: 0;
        margin-right: 0;
    }

    .products-section-title {
        margin-left: 20px;
    }

    .products-section-list {
        justify-content: center;
    }

    .products-section-item {
        width: 314px;
        padding-right: 20px;
    }

    .products-select {
        width: 100%;
    }

    .products-btn-price {
        padding: 15px 51px;
    }

    .products-btn {
        display: block;
        margin: 40 auto 0px auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .catalog-container {
        margin-left: 0;
    }
    
    .catalog-section-title {
        margin-left: 20px;
        font-size: 56px;
        line-height: 60px;
    }

    .catalog-items-list {
        justify-content: center;
    }

    .catalog-img-item-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 315px;
      }

      .catalog-item-img {
        padding: 0;
      }

    .products-section-title {
        font-size: 32px;
    }

    .products-section-item {
        width: 295px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .products-btn-price {
        padding: 15px 41px;
    }
}