/* Hero */
.hero-section {
  height: 690px;
  margin-left: 16%;
  margin-right: 16%;
}

.swiper-hero {
  margin-top: 64px;
  margin-bottom: 150px;
  width: 100%;
  height: 590px;
}

.slider-text {
  position: absolute;
  top: 166px;
  margin-left: 16%;
  font-family: "Amatic SC";
  font-size: 88px;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.slider-button {
  position: absolute;
  top: 317px;
  margin-left: 16%;
  width: 310px;
  height: 70px;
  background-color: #f3cd47;
  font-family: "Gill Sans Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  border: none;
}

.swiper-hero__prev::after,
.swiper-hero__next::after {
  color: white;
}

.swiper-hero__prev::after:hover,
.swiper-hero__next::after:hover {
  color: #F9E6A3;
}

.swiper-articles>.swiper-pagination>.swiper-pagination-bullet,
.swiper-hero>.swiper-pagination>.swiper-pagination-bullet {
  background-color: #ADC4E0;
  opacity: 1;
}

.swiper-articles>.swiper-pagination>.swiper-pagination-bullet:hover,
.swiper-hero>.swiper-pagination>.swiper-pagination-bullet:hover {
  background-color: #F9E6A3;
}

.swiper-articles>.swiper-pagination>.swiper-pagination-bullet-active,
.swiper-hero>.swiper-pagination>.swiper-pagination-bullet-active {
  background-color: #f3cd47;
}



/* Catalog */
.catalog-section {
  padding-bottom: 55px;
  background-color: #f1f5f8;
  width: 100%;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  margin-left: 16%;
}

.catalog-button {
  padding: 0;
  margin-top: 100px;
  font-family: "Amatic SC";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}

.catalog-button:focus::before {
  content: "";
  position: absolute;
  background-color: #f3cd47;
  border-radius: 10px;
  width: 100%;
  height: 17px;
  top: 33px;
  z-index: -1;
}

.catalog-container li:first-of-type {
  margin-right: 40px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 16%;
  margin-right: 13%;
  gap: 30px 20px;
}

.catalog-items-list a {
  text-decoration: none;
  color: #3D3D3D;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.catalog-img-item-container {
  width: 310px;
  height: 300px;
  background-color: white;
  border-radius: 2px;
}

.catalog-img-item-container:hover {
  box-shadow: 0px 25px 45px -16px rgba(25, 62, 107, 0.25);
}

.catalog-item-img {
  padding-top: 60px;
  padding-left: 61px;
  width: 188px;
  height: 179px;
}

.catalog-item-title {
  margin-top: 15px;
  font-family: "Gill Sans Nova";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

/* Useful articles */
.articles-section {
  height: 943px;
}

.articles-main-title {
  margin-bottom: 40px;
  font-family: "Amatic SC";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.articles-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.articles-section .swiper-articles {
  height: 630px;
  margin-top: 100px;
  margin-right: 16%;
  margin-left: 16%;
}

.swiper-articles-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-articles-nav {
  display: flex;
  flex-direction: row;
}

.swiper-articles-button__prev {
  margin-right: 35px;
}

.swiper-articles-button__prev,
.swiper-articles-button__next {
  position: static;
}

.swiper-articles-button__prev::after,
.swiper-articles-button__next::after {
  content: '';
  background-image: url(../img/chevron-left.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
}

.swiper-articles-button__prev::after {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.swiper-articles-wrapper .swiper-articles-slide {
  width: 640px;
}

.swiper-articles-slide__image {
  border-radius: 3px;
}

.swiper-articles-slide__title {
  font-family: "Gill Sans Nova";
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;

}

.swiper-articles-slide__text {
  color: #8B8B8B;
  font-family: "Gill Sans Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}



.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet .articles-button {
  width: 10px;
  height: 10px;
}

/* Adaptive */
@media screen and (max-width: 768px) {
  .hero-section {
    height: 680px;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-section .swiper-hero {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }

  .swiper-hero__next,
  .swiper-hero__prev {
    display: none;
  }

  .swiper-hero__slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }

  .slider-text {
    top: 159px;
    left: 20px;
    font-size: 88px;
    line-height: normal;
  }

  .slider-button {
    left: 20px;
    top: 300px;
  }

  .slider-button,
  .slider-text {
    margin-left: 0;
  }

  .catalog-container,
  .catalog-items-list {
    margin-left: 20px;
    margin-right: 20px;
  }

  .catalog-button {
    margin-top: 80px;
  }

  .catalog-img-item-container {
    width: 354px;
  }

  .articles-section .swiper-articles {
    margin-left: 20px;
    margin-right: 20px;
  }

  .swiper-articles-wrapper .swiper-articles-slide {
    width: 100%;
  }

  .swiper-articles-slide .swiper-articles-slide__image {
    width: 100%;
  }

  .swiper-articles .swiper-articles-button__next,
  .swiper-articles .swiper-articles-button__prev {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-section {
    margin-left: 0;
    margin-right: 0;
  }

  .slider-text {
    top: 104px;
    width: 317px;
    font-size: 56px;
    line-height: normal;
  }



  .slider-button,
  .slider-text {
    left: 0;
    right: 0;
    margin: auto;

  }


  .swiper-hero__next,
  .swiper-hero__prev {
    display: none;
  }

  .swiper-hero>.swiper-hero__pagination {
    bottom: 73px;
  }

  .catalog-button {
    margin-top: 60px;
    width: max-content;
    font-size: 32px;
  }

  .catalog-container {
    justify-content: space-between;
    gap: 20px;
  }


  .catalog-container,
  .catalog-items-list {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .catalog-container li:first-of-type {
    margin-right: 0;
  }

  .catalog-container li:last-of-type {
    margin-right: 0;
  }

  .catalog-img-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
  }

  .catalog-item-img {
    padding: 0;
  }

  .swiper-articles-slide .swiper-articles-slide__image {
    height: 300px;
    object-fit: cover;
  }

  .articles-section .swiper-articles {
    height: 785px;
  }

  .swiper-articles .swiper-articles-pagination {
    bottom: -2px;
  }
}