.product-card {
    margin-left: 310px;
}

.description-section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 310px;
    background: #F1F5F8;
}

.description-btns-list {
    display: flex;
}

.description-btn {
    padding: 0;
    font-family: "Amatic SC";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    background: none;
    border: none;
    position: relative;
    z-index: 1;
}

.description-btn:first-child {
    margin-right: 60px;
}

.description-btn:hover::before {
    content: "";
    position: absolute;
    background-color: #f3cd47;
    border-radius: 10px;
    width: 100%;
    height: 17px;
    top: 33px;
    z-index: -1;
}

.description-btn__active::before {
    content: "";
    position: absolute;
    background-color: #f3cd47;
    border-radius: 10px;
    width: 100%;
    height: 17px;
    top: 33px;
    z-index: -1;
}

.description-text-container {
    width: 750px;
    margin-top: 10px;
}

.description-text {
    display: none;
    color: #8B8B8B;
    font-family: Gill Sans Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.text-active {
    display: block;
}

.browsing-section {
    padding-left: 310px;
}

.browsing-title {
    margin-top: 100px;
    margin-bottom: 40px;
    color: #3D3D3D;
    font-family: Amatic SC;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.browsing-list {
    margin-bottom: 116px;
    display: flex;
    height: fit-content;
}

.product-input {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.product-name {
    width: 793px;
    color: #3D3D3D;
    font-family: Gill Sans Nova;
    font-size: 88px;
    font-style: normal;
    font-weight: 800;
    line-height: 100px;
}

.product-info {
    display: flex;
}

.swiper-main-container {
    display: flex;
    flex-direction: row-reverse;
}

.swiper-product {
    width: 575px;
}

.swiper-thumbs {
    width: 90px;
    height: 600px;
}

/* .swiper-thumbs .swiper-wrapper {
    display: flex;
    flex-direction: column;
} */

.swiper-thumbs-slide {
    width: 90px;
    opacity: 0.5;
}

.swiper-thumbs-slide__img {
    width: 90px;
}

.swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-pagination-product {
    display: none;
}

.amount {
    margin-top: 20px;
}

.amount-name {
    color: #8B8B8B;
    font-family: Gill Sans Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.product-vendor-code {
    margin-top: 91px;
    margin-bottom: 21px;
    color: #8B8B8B;
    font-family: Gill Sans Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.mobile-vendor {
    display: none;
}

.amount-btn-container {
    margin-top: 10px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 64px;
    background-color: #F1F5F8;
    border-radius: 3px;
}

.amount-btn {
    background: none;
    border: none;
    color: #444;
    font-family: Gill Sans Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.amount-number {
    color: #3D3D3D;
    font-family: Gill Sans Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.product-buy-btns {
    margin-top: 20px;
}



.product-btn__cart {
    margin-right: 20px;
    width: 145px;
    height: 70px;
    color: #FFF;
    font-family: Gill Sans Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 3px;
    background: #193E6B;
}

.product-btn__buy {
    width: 186px;
    height: 70px;
    padding: 22px 34px;
    color: #3D3D3D;
    font-family: Gill Sans Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border-radius: 3px;
    border: 1px solid #F3CD47;
}

/*Adaptive*/
@media screen and (max-width: 768px) {
    .product-card {
        margin-top: 40px;
        margin-left: 0;
    }

    .product-name {
        width: 738px;
        margin-left: 20px;
    }

    .product-info {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .product-input {
        margin-top: 130px;
        margin-left: 20px;
    }

    .products-select {
        width: 270px;
    }

    .description-section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .browsing-section {
        padding-left: 20px;
    }

    .browsing-title {
        margin-top: 80px;
    }

    .browsing-list {
        flex-wrap: wrap;
    }

    .mobile-vendor {
        display: inline;
        margin-left: 30px;
    }

    .desktop-vendor {
        display: none;
    }

    .swiper-main-container .swiper-thumbs {
        display: none;
    }

    .swiper-pagination-product {
        display: block;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 10px;
        height: 10px;


    }

    .swiper-product>.swiper-pagination>.swiper-pagination-bullet {
        background-color: #ADC4E0;
        opacity: 1;
    }

    .swiper-product>.swiper-pagination>.swiper-pagination-bullet:hover {
        background-color: #F9E6A3;
    }

    .swiper-product>.swiper-pagination>.swiper-pagination-bullet-active {
        background-color: #f3cd47;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .product-card {
        margin-top: 30px;
    }
    
    .product-name {
        width: 300px;
        font-size: 42px;
        line-height: 55px;
    }

    .swiper-product {
        width: 100%;
        height: 390px;
    }
    
    .swiper-product-slide__img {
        width: 100%;
    }

    .swiper-product  .swiper-pagination-product {
        bottom: -1px;
    }

    .product-input {
        margin-top: 30px;
    }

    .product-input {
        margin-left: 20px;
        padding-right: 20px;
    }

    .products-select {
        width: 100%;
        
    }

    .product-buy-btns {
        display: flex;
    }

    .product-btn_cart {
        width: 158px;
        padding: 22px 9px;
    }

    .product-btn__buy {
        width: 157px;
        padding: 22px 9px;
    }

    .description-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .description-btn {
        font-size: 32px;
    }

    .description-btn:first-child {
        margin-right: 20px;
    }

    .description-text-container {
       width: 290px;
    }

    .browsing-section {
        padding-left: 0;
    }

    .browsing-title {
        margin-left: 20px;
    }

    .browsing-list {
        justify-content: center;
    }

    .products-btn-price {
        width: 197px;
    }
}